=form_for @plane, :remote => true do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true
  = f.label :rows
  = f.text_field :rows
  = f.label :cols
  = f.text_field :cols
  = f.submit :class => 'button radius success'
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button radius alert', :id => 'cancel_btn')

