#header
  / %h1 Sliding Panel
  / %br
  / %h2 jQuery Sliding Panel Demonstration for NETTUTS
%hr#header_stripe
#wrapper
  #toppanel
    #panel
      #panel_contents
        #form_slider
          .login.border#register_form
            %p
              =form_for @user, :remote => true do |f|
                = f.label :name
                = f.text_field :name, :placeholder => 'Name'
                = f.label :email
                = f.text_field :email, :placeholder => 'Email'
                = f.label :password
                = f.password_field :password, :placeholder => 'Password'
                = f.label :password_confirmation, 'Password Confirmation'
                = f.password_field :password_confirmation, :placeholder => 'Password Confirmation'
                / = button_to_function('Cancel', 'clear_form()', :class => 'button tiny radius form_buttons', :id => 'create_cancel')
                = f.submit nil, :class => 'form_buttons'
          .login.border#login_form
            %p
              =form_tag '/login', :remote => true do
                = label_tag :email
                = text_field_tag :email, nil, :id => 'login_email', :placeholder => 'Email'
                = label_tag :password
                = password_field_tag :password, nil, :id => 'login_password', :placeholder => 'Password'
                / = button_to_function('Cancel', 'clear_form()', :class => 'form_buttons form_buttons', :id => 'login_cancel')
                = submit_tag 'Login', :class => 'form_buttons'
    .panel_button{:style => 'display: visible;', :class => 'form_text'}
      = image_tag 'shuttle.png', :alt => "expand"
      / %a{:href => "#"} Login
    .panel_button#hide_button{:style => 'display: none;'}
      = image_tag 'shuttle.png', :alt => "collapse"
      / %br
      / %a{:href => "#"} Hide

